<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeoIPServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/geoipservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="GeoIPServiceSoap"
                contract="GeoService.GeoIPServiceSoap" name="GeoIPServiceSoap" />
      
        </client>
    </system.serviceModel>
</configuration>