
@{
    ViewBag.Title = "GetAnagramsFromDictionary";
}
<h3>Last search: @Response.Cookies["LastSearch"].Value</h3>
@if (ViewBag.Model != null)
{
    <ul>
        @foreach (var anagram in ViewBag.Model)
        {
            <li>@anagram</li>
        }
    </ul>
}
